:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
}
* {
    box-sizing: border-box;
    margin: auto;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

header {
    text-align: center;
    padding-top: 10%;
}

h2 {
    text-align: center;
    text-decoration: underline;
    padding: 10% 10% 10% 10%;
}
.Add-new-element {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 3px;
    background-color: #e7d4d4;
}
input[type="checkbox" i] {
    cursor: pointer;
    margin-left: 3px;
    margin-right: 3px;
}
p {
    margin-left: 3px;
}


.Add-new-element input[checked] + p {
    color: #888;
    text-decoration: line-through;
}

button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.5em 0.5em;
    margin: 0.5em 0.5em 0.5em 0.5em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #bd8484;
    cursor: pointer;
    transition: border-color 0.25s;
    ;
}
button:hover {
    background-color: #ae4990;
    color: white;
    cursor: pointer;
}

footer {
    margin-top: 30%;
    text-align: center;
    font-size: 0.6em;

}
